:root {
  --navbar-height: 3em;
  --body-margin-side: 10%;
  --body-padding: 2em;
  --dark-blue: #4b8bca;
  --medium-blue: rgb(142, 216, 246);
  --light-blue: alice-blue;
  --medium-green: rgb(74, 203, 100);
}

:root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

html {
  background-color: var(--medium-blue);
}

#container {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1, h2, .h1, .h2 {
  text-align: center;
  font-style: bold;
  white-space: nowrap;
  height: fit-content;
}

h1, .h1 {
  font-size: 30px;
  padding-top: 1em;
}

h2, .h2 {
  font-size: 24px;
  color: darkslategray;
  padding-top: .5em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--navbar-height);
  font-size: 1em;
  background-color: var(--dark-blue);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* align-items: center; */
  align-content: center;
  column-gap: 0.5em;
}

.row-item {
  display: inline;
  margin: 0 1em;
}

.body {
  height: 100%;
  padding-top: calc(var(--navbar-height) + 1em);
  padding-bottom: 2em;
}

.body-center {
  height: 100%;
  width: calc(100% - 2*var(--body-margin-side));
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
}

.body-left, .body-right {
  height: 100%;
  width: var(--body-margin-side);
  padding-left: 1em;
  padding-right: 1em;
}

.scroll {
  overflow-x: scroll;
  align-self: center;
}

.task-list {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.shadowed-card {
  box-shadow: 0px 0px 10px 0px #00000033;
  border-radius: 10px;
  background-color: aliceblue;
}

.task {
  width: 90%;
  padding: 1em;
}

.task-details {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  row-gap: .5em;
}

.checkbox {
  height: 100%;
  width: 1em;
}

input {
  vertical-align: top;
}

.sidebar {
  width: fit-content;
  height: fit-content;
  padding: 0.5em;
}

.sidebar-button {
  padding: 3px;
  margin: 0px;
  border-radius: 25%;
  /* font-size: 5em; */
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.sidebar-button.clicked {
  background-color: rgb(162, 162, 162);
  color: white;
}

.sidebar-button:hover {
  background-color: var(--medium-blue);
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5em;
  align-content: center;
}


.login {
  width:fit-content;
  text-align:center;
  padding:2em;
}

.main-button {
  width: fit-content;
  border-radius: 10%;
  background-color: aliceblue;
  padding: 1em;
  cursor: pointer;
  color: var(--dark-blue);
}

.main-button:hover {
  background: var(--medium-green);
  color: white;
}

.secondary-button {
  width: fit-content;
  border: 2px solid white;
  border-radius: 10%;
  padding: 14px 28px;
  cursor: pointer;
  color: var(--dark-blue); 
  margin: 1em;
}

.secondary-button:hover {
  background: var(--dark-blue);
  color: white;
}

.centered {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.day-navigation {
  position:fixed; 
  top:50%;
  color: darkslategray;
  font-family: italic;
  padding: 0.5em;
}

.day-navigation:hover {
  position:fixed; 
  top:50%;
  color: white;
  /* background-color: var(--dark-blue); */
  border-radius: 50%;
  padding: 0.5em;
  font-family: italic;
}

.trashcan:hover {
  color: red;
}